[Unit]
Description=Platform IO Remote Agent

[Service]
EnvironmentFile=/etc/docker.env
Type=simple
ExecStart=/SERVICES/platformio/start.sh

[Install]
WantedBy=basic.target
